{% block footerDashboard %}

    <footer class="main-footer">
        <strong> Template Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
        Tots els drets reservats.
        <div class="float-right d-none d-sm-inline-block">
            <b>Versió</b> 0.5
        </div>
    </footer>

{% endblock %}