{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}

    {% block header %}
        {% include('menu/navBar.html.twig') %}
    {% endblock %}

    <main role="main" class="container">
        <h1 class="mt-5">Contingut</h1>
    </main>

{% endblock %}
