{% block login_modal %}

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h3 mb-2 font-weight-normal">Iniciar sessió</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form class="form-signin" action="{{ path('login') }}" method="POST">

                <div class="modal-body">
                        <div class="mb-2">
                            <label for="inputEmail" class="sr-only">User</label>
                            <input name="inputEmail" type="text" id="inputEmail" class="form-control" placeholder="User" required autofocus>
                        </div>
                        <div class="mb-2">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input name="inputPassword" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>
                    <!-- <p id="message" class= "message-error"></p> -->
                </div>
                <div class="modal-footer">
                    <button type="submit" id="bttnLogin" class="btn btn-lg btn-primary btn-block">Login</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- <script> </script> -->
<!-- AQUI ANIRÁ CODI JS PER REALITZAR PETICIÓ AJAX EN CAS DE NO VOLER REDIRECCIONAR A UNA PAGINA -->


{% endblock %}