{% block register_modal %}

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h3 mb-1 font-weight-normal"> Registra't a la web </h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form class="form-signin" action="{{ path('register') }}" method="POST">

                <div class="modal-body">
                    <div class="mb-2">
                        <label for="registerName">Nom</label>
                        <input name="registerName" type="text" id="registerName" class="form-control" placeholder="Nom" required autofocus>
                    </div>
                    <div class="mb-2">
                        <label for="registerSurnames">Cognoms</label>
                        <input name="registerSurnames" type="text" id="registerSurnames" class="form-control" placeholder="Cognoms" required autofocus>
                    </div>
                    <div class="mb-2">
                        <label for="registerEmail">Email</label>
                        <input name="registerEmail" type="text" id="registerEmail" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="mb-2">
                        <label for="registerPassword">Contrasenya</label>
                        <input name="registerPassword" type="password" id="registerPassword" class="form-control" placeholder="Contrasenya" required>
                    </div>
                    <!-- <p id="message" class= "message-error"></p> -->
                </div>
                <div class="modal-footer">
                    <button type="submit" id="bttnRegister" class="btn btn-lg btn-primary btn-block">Registrar-se</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- <script> </script> -->
<!-- AQUI ANIRÁ CODI JS PER REALITZAR PETICIÓ AJAX EN CAS DE NO VOLER REDIRECCIONAR A UNA PAGINA -->


{% endblock %}