{% extends 'base.html.twig' %}

{% block title %}Missatges - App{% endblock %}

{% block body %}
    <div class="wrapper">
        <!-- Top Navbar -->
        {{ include('menu/topNavBar.html.twig') }}
        <!-- /.topNavbar -->

        <!-- Side Navbar -->
        {{ include('menu/sideNavBar.html.twig', {'employee': employee, 'sideNavBar_active': 'mail'}) }}
        <!-- /.sideNavbar -->

        <!-- Content Wrapper -->
        {# EN AQUEST DIV VA EL CONTINGUT #}
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"> Missatges </h1>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->




        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        {{ include('footers/footerDashboard.html.twig') }}
    </div>
    <!-- ./wrapper -->
{% endblock %}