{% extends 'base.html.twig' %}

{% block title %}App - Profile{% endblock %}

{% block body %}

    {% block header %}
        {% include('menu/navBar.html.twig') %}
    {% endblock %}

    <main role="main" class="container">
        <h1 class="mt-5">Perfil usuari</h1>
    </main>

{% endblock %}